<header class="main-header">
    <div class="container nav-container">

        <a href="../index.html" class="logo-link">
            <img src="../assets/logo_cumeats.png" alt="CUMeats" class="header-logo-img">
            CUM<span>Eats</span>
        </a>

        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="listado.html">Restaurantes</a></li>
                <li><a href="detalle.html?id=1">Carta CUMe</a></li>
            </ul>
        </nav>

        <div class="user-actions">
            <button type="button" class="btn-cart" title="Ver carrito">
                🛒 <span class="cart-count">0</span>
            </button>

            <a href="login.html" class="btn btn-primary">
                Mi Cuenta
            </a>

            <a href="edicion.html" class="btn btn-secondary" title="Panel Admin">
                ⚙️
            </a>
        </div>

    </div>
</header>